<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <% if (stat) { %>
    <% array.forEach(stat => { %>
        <div class="div 1"><% stat.earnings %></div>
        <div class="div2"><% stat.customers %></div>
        <div class="div3"><% stat.orders %></div>
    <% }) %>
  <% } %>
</body>
</html>